.env
__pycache__/
node_modules/
.next/
*.db
.venv/
.DS_Store

# Generated test/log output
*.txt
!*requirements.txt

# Local Hackathon Dev Files
/*.py
/prometheus.zip
/prometheus/
/data/

*.exe
*.zip
*.log
